@charset "UTF-8";

#forever {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
  background-image: linear-gradient(to bottom, #74bb35, #060057);
}

#display_forever {
  display: flex;
  width: 70%;
  padding-left: 1%;
  align-items: center;
}

#img_forever {
  width: 100%;
  padding-left: 2%;
}

#img_sec_forever {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.125);
}

#text_forever {
  width: 30%;
}

#text_forever p {
  color: white;
  text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.247);
}

#title_forever h1 {
  text-align: center;
  font-family: haerins;
  display: block;
  color: white;
  text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.247);
  font-size: 2.5em;
  padding-left: 10px;
  border-left: 4px solid black;
  border-radius: 10px;
}

@media screen and (max-width: 970px) {

  #forever {
    flex-direction: column-reverse;
    gap: 15px;
  }

  #display_forever {
    width: 100%;
  }

  #img_sec_forever {
    height: 420px;
  }

  #text_forever {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {

  #img_sec_forever {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {

  #img_forever {
    padding-left: 3%;
  }
}