@charset "UTF-8";

header {
  width: 100%;
  padding: 20px 10%;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.125);
}

#nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_logo {
  font-size: 20px;
  color: #e73131;
}

#nav_list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list-item a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#list_item_home a:hover {
  color: #ff0000;
}

#list_item_lewis a:hover {
  color: #09E3E2;
}

#list_item_norris a:hover {
  color: #F58129;
}

#list_item_max a:hover {
  color: #F13420;
}

#list_item_senna a:hover {
  color: #dbcd02;
}

#mobile_button,
#mobile_menu {
  display: none;
}

@media screen and (max-width: 1170px) {
  #nav_list {
    display: none;
  }

  #mobile_menu.active {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #mobile_button {
    color: black;
    display: block;
    border: none;
    background-color: transparent;
    font-size: 22px;
  }

  #mobile_nav_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
  }

  #mobile_nav_list .nav-list-item {
    text-align: center;
  }
}