@charset "UTF-8";

#lewis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10%;
  background-image: linear-gradient(to bottom, white 60%, #09E3E2);
}

#text_lewis .title span {
  color: #09E3E2;
}

#img_lewis  {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

#img_sec_lewis {
  width: 70%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.125);
}

@media screen and (max-width: 670px) {
  #img_sec_lewis {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}